In [2]:
%load_ext sql

In [16]:
%sql sqlite:///publications.db

In [17]:
%%sql
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

   sqlite:///.publications.db
   sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select.db
   sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select.publications.db
 * sqlite:///publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

In [6]:
%%sql
select *
from titleauthor
limit 10

   sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select.db
 * sqlite:////Users/tinkerbell/ironhack/labs/20-lab-sql-select.publications.db
(sqlite3.OperationalError) no such table: titleauthor
[SQL: select * from titleauthor
limit 10]
(Background on this error at: http://sqlalche.me/e/13/e3q8)