In [2]:
%load_ext sql

In [3]:
%sql sqlite:///publications.db

In [4]:
%config Sqlmagic.style = 'ALL'

In [10]:
%%sql
select name
from sqlite_master
WHERE type = 'table'
order by name

 * sqlite:///publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

# Challenge 1

In [7]:
%%sql
SELECT a.au_id,a.au_lname as last_name,a.au_fname as first_name,t.title,p.pub_name as publisher
FROM authors a
join titleauthor ta
join titles t
join publishers p
where ta.au_id = a.au_id and t.title_id = ta.title_id and p.pub_id=t.pub_id

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

In [9]:
%%sql
select count(*)
from titleauthor

 * sqlite:///publications.db
Done.

[(25,)]

# Challenge 2

In [15]:
%%sql
select a.au_id,a.au_lname as last_name,a.au_fname as first_name,t.title,p.pub_name as publisher, count(*) as title_count
FROM authors a
join titleauthor ta
join titles t
join publishers p
where ta.au_id = a.au_id and t.title_id = ta.title_id and p.pub_id=t.pub_id
group by a.au_id,p.pub_name

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books', 1),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books', 1),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books', 2)]

# Challenge 3

In [8]:
%%sql
select a.au_id as AUTHOR_ID,a.au_lname as LAST_NAME,a.au_fname as FIRST_NAME,SUM(s.qty) as TOTAL
FROM authors a
join titleauthor ta
join titles t
join sales s
where ta.au_id = a.au_id and t.title_id = ta.title_id and s.title_id = t.title_id
group by a.au_id
ORDER BY total desc
limit 3

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50)]

# Challenge 4

In [9]:
%%sql
select a.au_id as AUTHOR_ID,a.au_lname as LAST_NAME,a.au_fname as FIRST_NAME,SUM(s.qty) as TOTAL
FROM authors a
join titleauthor ta
join titles t
join sales s
where ta.au_id = a.au_id and t.title_id = ta.title_id and s.title_id = t.title_id
group by a.au_id
ORDER BY total desc

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50),
 ('427-17-2319', 'Dull', 'Ann', 50),
 ('846-92-7186', 'Hunter', 'Sheryl', 50),
 ('267-41-2394', "O'Leary", 'Michael', 45),
 ('724-80-9391', 'MacFeather', 'Stearns', 45),
 ('722-51-5454', 'DeFrance', 'Michel', 40),
 ('807-91-6654', 'Panteley', 'Sylvia', 40),
 ('238-95-7766', 'Carson', 'Cheryl', 30),
 ('486-29-1786', 'Locksley', 'Charlene', 25),
 ('472-27-2349', 'Gringlesby', 'Burt', 20),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 20),
 ('672-71-3249', 'Yokomoto', 'Akiko', 20),
 ('756-30-7391', 'Karsen', 'Livia', 20),
 ('172-32-1176', 'White', 'Johnson', 15),
 ('274-80-9391', 'Straight', 'Dean', 15),
 ('409-56-7008', 'Bennet', 'Abraham', 15),
 ('712-45-1867', 'del Castillo', 'Innes', 10)]