In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql sqlite:///20-lab-sql-select\publications.db

In [6]:
%%sql
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///20-lab-sql-select\publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

In [7]:
%%sql
select *
from titles
limit 10

 * sqlite:///20-lab-sql-select\publications.db
Done.

[('BU1032', "The Busy Executive's Database Guide", 'business', '1389', 19.99, 5000, 10, 4095, 'An overview of available database systems with emphasis on common business applications. Illustrated.', '1991-06-12 00:00:00'),
 ('BU1111', 'Cooking with Computers: Surreptitious Balance Sheets', 'business', '1389', 11.95, 5000, 10, 3876, 'Helpful hints on how to use your electronic resources to the best advantage.', '1991-06-09 00:00:00'),
 ('BU2075', 'You Can Combat Computer Stress!', 'business', '0736', 2.99, 10125, 24, 18722, 'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', '1991-06-30 00:00:00'),
 ('BU7832', 'Straight Talk About Computers', 'business', '1389', 19.99, 5000, 10, 4095, 'Annotated analysis of what computers can do for you: a no-hype guide for the critical user.', '1991-06-22 00:00:00'),
 ('MC2222', 'Silicon Valley Gastronomic Treats', 'mod_cook', '0877', 19.99, 0, 12, 2032, 'Favorite recipes for quick, easy, and elegant meals.', '1991-06-09 00:00:00'),
 ('MC3021', 'The Gourmet Microwave', 'mod_cook', '0877', 2.99, 15000, 24, 22246, 'Traditional French gourmet recipes adapted for modern microwave cooking.', '1991-06-18 00:00:00'),
 ('MC3026', 'The Psychology of Computer Cooking', 'UNDECIDED', '0877', None, None, None, None, None, '2014-11-07 10:39:37'),
 ('PC1035', 'But Is It User Friendly?', 'popular_comp', '1389', 22.95, 7000, 16, 8780, "A survey of software for the naive user, focusing on the 'friendliness' of each.", '1991-06-30 00:00:00'),
 ('PC8888', 'Secrets of Silicon Valley', 'popular_comp', '1389', 20, 8000, 10, 4095, "Muckraking reporting on the world's largest computer hardware and software manufacturers.", '1994-06-12 00:00:00'),
 ('PC9999', 'Net Etiquette', 'popular_comp', '1389', None, None, None, None, 'A must-read for computer conferencing.', '2014-11-07 10:39:37')]

In [8]:
%%sql
select au_id, count (title_id) as num_pub
from titleauthor
group by au_id
limit 10

 * sqlite:///20-lab-sql-select\publications.db
Done.

[('172-32-1176', 1),
 ('213-46-8915', 2),
 ('238-95-7766', 1),
 ('267-41-2394', 2),
 ('274-80-9391', 1),
 ('409-56-7008', 1),
 ('427-17-2319', 1),
 ('472-27-2349', 1),
 ('486-29-1786', 2),
 ('648-92-1872', 1)]

In [10]:
print(https://github.com/AlvaroNoriega/20-lab-sql-select/blob/master/authors.png)

SyntaxError: invalid syntax (<ipython-input-10-b76e2f1669d5>, line 1)

In [11]:
%%sql
select *
from titleauthor
limit 10

 * sqlite:///20-lab-sql-select\publications.db
Done.

[('172-32-1176', 'PS3333', 1, 100),
 ('213-46-8915', 'BU1032', 2, 40),
 ('213-46-8915', 'BU2075', 1, 100),
 ('238-95-7766', 'PC1035', 1, 100),
 ('267-41-2394', 'BU1111', 2, 40),
 ('267-41-2394', 'TC7777', 2, 30),
 ('274-80-9391', 'BU7832', 1, 100),
 ('409-56-7008', 'BU1032', 1, 60),
 ('427-17-2319', 'PC8888', 1, 50),
 ('472-27-2349', 'TC7777', 3, 30)]